.product{
    display: flex;
    padding: 10px;
    margin: 0 10px 5px 0;
    border-bottom: 1px solid lightgray;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.product-content{
    padding-left: 20px;
}
.add-button{
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    cursor: pointer;
}